<div class="rating-result">
  <mat-icon aria-hidden="false" aria-label="Example star icon" class="star">star</mat-icon>
  <p class="rating-item">{{rating}} / 5</p>
  <p class="rating-item">({{ratingNum}})</p>
</div>

<!-- Like / Dislike option

<div class="thumbs-container">
  <div class="thumbsUp">
    <button (click)="clickCountUp()"><mat-icon style="color: #4d4dff">thumb_up</mat-icon></button>
    <p>{{thumbsUp}}</p>
  </div>

  <div class="thumbsDown">
    <button (click)="clickCountDown()"><mat-icon style="color: #ff4d4d">thumb_down</mat-icon></button>
    <p>{{thumbsDown}}</p>
  </div>
</div>

-->
