.rating-result {
  display: flex;
  align-items: center;
}

.rating-item {
  margin: 7px;
}

.star {
  color: gold;
}

button {
  border: none;
  background: none;
}

.thumbsUp {
  display: flex;
  align-items: center;
}

.thumbsDown {
  display: flex;
  align-items: center;
}

.thumbs-container {
  display: flex;
  align-items: center;
}
