.aboutus_container {
  width: 1100px;
  margin: 0 auto;
  padding-top: 50px;
}

.aboutus_header {
  font-weight: bold;
  font-size: 32px;
}

.aboutus_subheader {
  padding-top: 25px;
  font-weight: bold;
  font-size: 22px;
}
