<div class="info-container">

  <div class="info-container_box">
    <mat-icon class="info-container_icon">local_phone</mat-icon>
    <span>{{item?.provider?.phone}}</span>
  </div>

  <div class="info-container_box">
    <mat-icon class="info-container_icon">mail_outline</mat-icon>
    <span>{{item?.provider?.email}}</span>
  </div>

  <div class="info-container_box">
    <mat-icon class="info-container_icon">link</mat-icon>
    <span>{{item?.provider?.web}}</span>
  </div>

</div>


