.info-container{
  display: flex;
  flex-direction: row;
  margin: 5px 10px 20px;
}

.info-container_box{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
}

.info-container_icon{
margin-right: 5px;
}
 span{
   font-size: 12px;
 }
