.notfound_container {
  width: 700px;
  margin: 0 auto;
  display: flex;
  padding-top: 50px;
}

.notfound_left {
  width: 280px;
}

h1 {
  font-size: 50px;
  font-weight: bold;
}

h2 {
  font-size: 20px;
  font-weight: lighter;
}

.notfound_locations {
  font-size: 18px;
  font-weight: lighter;
}

.notfound_or p {
  font-size: 22px;
  font-weight: bold;
  padding-top: 15px;
}

.notfound_providers {
  font-size: 18px;
  font-weight: lighter;
  padding-top: 15px;
}

button {
  border: 1px solid #e3e3e3;
  width: 260px;
  padding: 10px 15px 10px 10px;
  background-color: #efefef;

  &:hover {
    background-color: #e3e3e3;
  }

  a {
    font-size: 18px;
    font-weight: lighter;
  }
}
