<div class="notfound_container">
  <div class="notfound_left">
    <div class="notfound_header">
      <h1>Ooops!</h1>
      <h2>Úgy tűnik itt nincs semmi.</h2>
    </div>

    <div class="notfound_locations">
      <p><a href="/">Irány a főoldal, ahol teszthelyszínt választhatsz</a></p>
    </div>

    <div class="notfound_or">
      <p>VAGY</p>
    </div>

    <div class="notfound_providers">
      <p>nézd meg az összes szolgáltatót:</p>
      <button mat-button><a href="/providers">Megnézem a szolgáltatókat</a></button>
    </div>
  </div>

  <div class="notfound_image_container">
    <img src="../../../assets/img/404.gif" alt="">
  </div>
</div>
