<div class="main-heading_container">
<mat-card class="main-heading">

  <img class="main-heading_picture" src="assets/img/section.png" alt="main heading picture">

  <div class="main-heading_description">
    <h1 class="main-heading_title">How can we help you?</h1>
    <p class="main-heading_subtitle">Where do you go to COVID test today? It's a good and difficult question today.
      You can choose from countless places in the world today, but if you are not careful,
      you can easily fall victim to scammers. To help you in judgement, we collected to You the best and
      guaranteed reliable places.</p>
    <a href="#">Learn more</a>
  </div>

</mat-card>

<section class="grid-section">

  <div class="grid-section_heading">
    <h2 class="grid-section_title">Our offers</h2>
    <p class="grid-section-subtitle">You can choose from the following options.</p>
  </div>

  <mat-card class="tests-section_unit unit-1">
    <img class="tests-section-image" src="assets/img/pcr.png" alt="pcr">
    <h3 class="tests-title">PCR</h3>
    <p class="tests-subtitle">The PCR test is the most sensitive and specific test method to confirm the presence of the virus.</p>
  </mat-card>

  <mat-card class="tests-section_unit unit-2">
    <img class="tests-section-image" src="assets/img/antigen.png" alt="pcr">
    <h3 class="tests-title">Antigén</h3>
    <p class="tests-subtitle">High-efficiency test from nose and throat with 100% specificity!</p>
  </mat-card>

  <mat-card class="tests-section_unit unit-3">
    <img class="tests-section-image" src="assets/img/antibodies.png" alt="pcr">
    <h3 class="tests-title">Antitest</h3>
    <p class="tests-subtitle">Antibody level assay for the detection of high-affinity antibodies to SARS-CoV-2 IgG nucleocapsid (N) protein (from venous blood).</p>
  </mat-card>

</section>
</div>
