
@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

.main-heading {
  margin-top: 25px;
  justify-content: center;
  @include flex(row, center, center)
}

.main-heading_description {
  @include flex(column, 0, 0);
  margin-left: 10px;
}

.main-heading_container {
  width: 1100px;
  margin: 0 auto;
}

.grid-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.3fr 1fr;
  justify-items: center;
  align-items: center;
  width: 1100px;
  margin: 0 auto;
  padding-top: 70px;
  grid-gap: 30px;
}

.grid-section_heading {
  grid-column: 1 / span 3;
  grid-row: 1;
  @include flex(column, center, center)
}

.grid-section_title {
  margin: 10px 0;
  font-size: 40px;
}

.grid-section_subtitle {
  margin: 10px 0;
  font-size: 30px;
}

.tests-section_unit{
  @include flex(column, center, center)
}

.unit-1{
  grid-column: 1;
  grid-row: 2;
  min-height: 430px;
}

.unit-2{
  grid-column: 2;
  grid-row: 2;
  min-height: 430px;
}

.unit-3{
  grid-column: 3;
  grid-row: 2;
  min-height: 430px;
}

.tests-title{
  margin: 10px 0;
}

.tests-subtitle{
  text-align: center;
  margin: 5px 0;
  height: 100px;
}

.main-heading_picture {
  height: 300px;
}
