<section class="selector_container">
  <form class="selector-form" appearance="fill" [formGroup]="locationForm" (change)="onLocationChange(locationForm.value)">
    <label class="selector_label" for="selector">Choose a City</label>
    <select class="selector" formControlName="location" name="selector"
                id="selector">
      <option [value]="null">All cities</option>
      <option *ngFor="let city of cities" [value]="city">{{city}}</option>
    </select>
  </form>
</section>

