.selector_container{
  margin: 0 auto;
  width: 1100px;
}

mat-form-field{
  font-size: 16px;
  width: 150px;
}

.selector_label {
  color: white;
  font-size: 18px;
  padding-bottom: 15px;
}

.selector-form {
  display: flex;
  flex-direction: column;
}

.selector {
  background-color: white;
  padding: 15px;
  font-size: 18px;
  border-radius: 5px;
  width: 215px;
}
