<form>
  <mat-form-field class="sorting" appearance="fill">
    <mat-label>Rendezés</mat-label>
    <mat-select [value]="orderOptions[0].value" (selectionChange)="change($event)">
      <mat-option *ngFor="let option of orderOptions" [value]="option.value">
        {{option.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>


