.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container__header,
.container__footer {
  flex-shrink: 0;
}

.container__main {
  flex-grow: 1;
  min-height: 100vh;
}

.darkLightIcons {
  display: flex;
  align-items: center;
}

.mat-icon {
  margin: 5px;
}
