<div class="mat-app-background">          <! -- class="container" -->
  <header class="container__header">
    <app-header>
      <div class="darkLightIcons">
        <mat-icon>brightness_5</mat-icon>
        <mat-slide-toggle [formControl]="toggleControl"></mat-slide-toggle>
        <mat-icon>brightness_3</mat-icon>
      </div>

    </app-header>

  </header>



  <main class="container__main">
    <router-outlet></router-outlet>
  </main>
  <footer class="container__footer">
    <app-footer></app-footer>
  </footer>
</div>


