.contact_header {
  padding-left: 150px;
}

form{
  max-width:800px;
  margin: 0 auto;
  padding-top: 20px;
}

.first-line {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.message textarea {
  width: 100%;
}

h1 {
  font-weight: bolder;
}

app-header a {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  color: inherit;
}

.mat-card-form {
  height: 100vh;
  width: 1100px;
  margin: 0 auto;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
  border-left: 5px solid red;
  outline: 1px solid red;
}

input.ng-valid.ng-touched {
  border: 1px solid green;
  border-left: 5px solid green;
}

textarea.ng-invalid.ng-touched {
  border: 1px solid red;
  border-left: 5px solid red;
  outline: 1px solid red;
}

textarea.ng-valid.ng-touched {
  border: 1px solid green;
  border-left: 5px solid green;
}

.error {
  color: red;
  font-size: 10px;
}

.success-alert {
  width: 100%;
  display: flex;
  justify-content: center;
}

.success-alert mat-card {
  color: green;
  background: lightgreen;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.success-alert h1 {
  font-size: xx-large;
}


.mat-card-form a {
  text-decoration: none;
  color: inherit;
  font-weight: bolder;

}

.mat-card-form {
  padding-top: 50px;
}
