<div class="mat-card-form">

  <h1 class="contact_header">Contact Us</h1>

  <div *ngIf="successAlert" class="success-alert">
    <mat-card>
      <h1>Your message arrived!</h1>
      <p>I will get back to you shortly!</p>
    </mat-card>
  </div>


  <form *ngIf="!successAlert" #contactForm="ngForm" (submit)="onSubmit(contactForm)">

    <div *ngIf="errorAlert" class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>{{errorMessage}}</strong>Your message has not been sent!
      <button (click)="closeErrorAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <h2>We are keen to hear from You!</h2>

    <div class="first-line">
      <div class="name">
        <label for="nameField">Name</label><br>
        <input type="text" #nameField="ngModel"
               name="nameField"
               id="nameField"
               required
               autocomplete="off"
               minlength="5"
               [ngModel]="initialValues.name"
               placeholder="Fill your name please!">
        <div class="error" *ngIf="nameField.invalid && !nameField.value?.length && nameField.touched">
          Please fill your name!
        </div>
        <div class="error" *ngIf="nameField.invalid  && nameField.value?.length">
          Name should be at least 6 characters!
        </div>
      </div>

      <div class="email">
        <label for="emailField">Email</label><br>
        <input type="text" name="emailField" id="emailField" [ngModel]="initialValues.email" email
               placeholder="Fill your email please!" required #emailField="ngModel">
        <div class="error" *ngIf="emailField.invalid && !emailField.value && emailField.touched">
          Please fill your email!
        </div>
        <div class="error" *ngIf="emailField.invalid && emailField.value">
          Please fill a valid email!
        </div>
      </div>
    </div>

    <div class="message">
      <div>
        <br>
        <label for="textareaField">Message</label><br>
        <textarea id="textareaField" name="textareaField" [ngModel]="initialValues.message"
                  placeholder="You can write your message here" rows="8" required
                  #textareaField="ngModel" minlength="100"></textarea>
      </div>
      <div class="error"
           *ngIf=" textareaField.invalid && !textareaField.value?.length
            && textareaField.touched">
        Please fill your message!
      </div>
      <div class="error"
           *ngIf="textareaField.invalid && textareaField.value?.length">
        Message should be at least 100 characters!
      </div>
    </div>


    <div>
      <br>
      <input type="checkbox" name="acceptField" id="acceptField" [ngModel]="initialValues.acceptedTermsAndConditions"
             required #checkboxField="ngModel">
      <label for="acceptField">I read and accept the <a routerLink="/cookies">Terms & Conditions</a></label>
      <div class="error" *ngIf="checkboxField.invalid && checkboxField.touched">
        Please read and accept Terms & Conditions to send Us your message!
      </div>

    </div>
    <br>
    <button mat-flat-button color="primary" type="submit" [disabled]="contactForm.invalid">Send</button>


  </form>
</div>
