* {
  margin: 0;
  padding: 0;
}

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

$gray: dimgray;
$black: #000000;

h6 {
  color: $gray;
  font-weight: lighter;
  font-size: 16px;
}

.location-name .location-address {
  color: pink;
  font-weight: bold;
  font-size: 30px;
}

.maps-button {
  width: 150px;
  height: 40px;
  border: 1px solid white;
  background: aquamarine;
  font-size: 18px;
  @include flex(row, center, center)
}

.locations-list-container .location-name-container .location-address-container{
  @include flex(column, center, center);
}

.locations-row {
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr );
  grid-gap: 70px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

.locations-list-container {
  border: 1px solid #e3e3e3;
  padding: 15px;
  background-color: #fdfdfd;
  min-height: 70px;
  min-width: 1067px;
  z-index: 2;
}

hr {
  margin: 5px 0 10px 0;
}

a {
  padding: 10px;
}
