<div *ngFor="let location of locations">
  <mat-card class="locations-list-container">

    <div class="locations-row">
      <div class="location-name-container">
        <h6 class="location-name-title">Helyszín neve</h6>
        <p class="location-name">{{location.name}}</p>
      </div>
      <div class="location-address-container">
        <h6 class="location-address-title">Cím</h6>
        <p class="location-address">{{location.postalCode}}, {{location.city}}, {{location.streetName}}</p>
      </div>
      <a mat-stroked-button href="https://www.google.com/maps" target="_blank">Megnyitás Google Térképen
        <mat-icon>link</mat-icon>
      </a>
    </div>
  </mat-card>

</div>
