.footer {
  background-color: #3f51b5;
  padding: 10px 0 10px 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #4051B6;
  left: 0;
  bottom: 0;
  width: 1100px;
  color: white;
  text-align: center;
  margin: 0 auto;
}

.footer-nav {
  display: flex;
}

.nav {
  margin: 0 10px 0 15px;
  text-decoration: none;
  color: white;
}

.copyright {
  margin: 0 0 10px 10px;
}

.logo {
  margin-bottom: 0;
  margin-left: 10px;
}
