<div class="footer">
  <div class="footer-container">
    <div class="footer-logotype">
      <h2 class="logo">covid 360</h2>
      <h5 class="copyright">2021 © covid-360.hu</h5>
    </div>
    <div class="footer-nav">
      <a class="nav" routerLink="/about-us">About Us</a>
      <a class="nav" routerLink="/contact">Contact</a>
      <a class="nav" routerLink="/cookies">Cookies</a>
    </div>
  </div>
</div>
