<mat-tab-group dynamicHeight>

  <mat-tab label="PCR">
    <div>
      <app-result-list [location]="location" [testType]="testTypes.PCR"></app-result-list>
    </div>
  </mat-tab>

  <mat-tab label="Antigén">
    <ng-template matTabContent>
      <div>
        <app-result-list [location]="location" [testType]="testTypes.ANTIGEN"></app-result-list>
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab label="Antitest">
    <ng-template matTabContent>
      <div>
        <app-result-list [location]="location" [testType]="testTypes.ANTIBODY"></app-result-list>
      </div>
    </ng-template>
  </mat-tab>

</mat-tab-group>
