<div class="result_container">

  <div class="result_locationselector">
    <app-location-selector (newLocation)="selectedLocation($event)"></app-location-selector>
  </div>

  <div class="result_items">
    <app-result-tab [location]="newLocation"></app-result-tab>
  </div>

</div>
