<div class="provider_container">

  <div class="provider_details_component">

    <div class="provider_item_main">
      <div>
        <img class="provider_logo" src="{{provider?.providerLogo}}" alt="This is a logo of provider">
        <span class="provider_name">{{provider?.fullName}}</span>
      </div>
      <div class="share">
        <share-buttons [theme]="'default'"
                       [include]="['email','print','copy']"
                       [show]="3"
                       [size]="-4"
                       [url]="''"
                       [title]="'Covid teszt egy kattintásra - Covid360'"
                       [description]="'Nézd csak mit találtam, egy megbízható oltóközpontot, itt találod a linkjét:'">
        </share-buttons>
      </div>
    </div>

    <mat-divider></mat-divider>

    <div class="provider_details_address">
      <mat-icon> mail_outline</mat-icon>
      <span class="provider_details_address_long">{{provider?.address?.postalCode}} {{provider?.address?.city}} {{provider?.address?.streetName}} {{provider?.address?.streetNumber}}</span>
    </div>

    <div class="provider_details_container">
      <div class="provider_details_phone">
        <mat-icon> phone</mat-icon>
        <span class="provider_details_phone_number">{{provider?.phone}}</span>
      </div>

      <div class="provider_details_webpage">
        <mat-icon>home</mat-icon>
        <span class="provider_details_webpage_address"><a href="{{provider?.web}}" target="_blank">{{provider?.web}}</a></span>
      </div>
    </div>

    <div class="provider_payment">
      <span>Fizetési módok:</span>
      <div class="provider_payment_methods">
        <ng-template [ngIf]="provider?.paymentInfo?.bankCard === true">
          <mat-icon>account_balance_wallet</mat-icon>
        </ng-template>
        <ng-template [ngIf]="provider?.paymentInfo?.cash === true">
          <mat-icon> money</mat-icon>
        </ng-template>
        <ng-template [ngIf]="provider?.paymentInfo?.online === true">
          <mat-icon> language</mat-icon>
        </ng-template>
      </div>
    </div>

    <mat-divider></mat-divider>

    <div class="provider_openingHours">
      <mat-icon>watch_later</mat-icon>
      <p>Nyitvatartás:</p>
    </div>

    <div class="provider_openingHours_data">
      <table  *ngFor="let day of provider?.openHours">
        <tr>
          <th>{{day?.weekday}}:</th>
          <td *ngFor="let hour of day.openInterval">{{hour?.fromHour}} - {{hour?.toHour}}</td>
        </tr>
      </table>
    </div>

    <mat-divider></mat-divider>

    <div class="provider_item_products">
      <span class="provider_item_products_num">{{products.length}} Termék</span>
    </div>

    <div class="provider_details_products_container">
      <mat-card class="provider_details_products_item" *ngFor="let product of products">
        <div class="provider_product_card type">
          <p>{{product?.type}}</p>
        </div>
        <div class="provider_product_card">
          <p>{{product?.price}} Ft</p>
        </div>
        <div class="provider_product_card">
          <button mat-flat-button color="primary"><a href="{{product?.productLink}}" target="_blank">Ajánlat megtekintése</a></button>
        </div>
      </mat-card>
    </div>
  </div>
</div>
