.provider_info_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1100px;
}

.provider_item_main {
  display: flex;
  align-items: center;
  padding: 20px;
}

.provider_name {
  font-size: 24px;
  padding-left: 10px;
  font-weight: bold;
}

.provider_item_locations {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.provider_item_products {
  display: flex;
  align-items: center;
  padding: 20px;
}

p {
  margin: 0;
  padding: 0;
}

.provider_details_container {
  display: flex;
  align-items: center;
  width: 675px;

}

.provider_item_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.provider_logo {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  & img {
    background-color: black;
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }
}

.provider_item_locations {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.provider_item_products {
  display: flex;
  align-items: center;
  padding-left: 70px;
}

p {
  margin: 0;
  padding: 0;
}

.provider_payment {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.provider_container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.provider_details_component {
  border: 1px solid #e3e3e3;
  width: 700px;
  margin: 0 auto;
}

.provider_details_webpage, .provider_details_phone {
  display: flex;
  align-items: center;
  padding: 0 50px 0 20px;
}

.provider_details_address {
  display: flex;
  align-items: center;
  padding: 20px;
}

.provider_openingHours {
  display: flex;
  align-items: center;
  padding: 20px 20px 20px 20px;
}

mat-icon {
  color: green;
}

.provider_openingHours_data {
  padding: 0 20px 20px 20px;
}

th {
  font-weight: bold;
  text-align: right;
}

td {
  text-align: end;
  width: 50px;
}

table {
  width: 150px;
}

.provider_details_products_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}

.provider_details_products_item {
  width: 530px;
  display: flex;
  justify-content: space-between;
}

mat-card {
  margin-top: 10px;
}

.share {
  padding-left: 130px;
  width: 165px;
}

.provider_product_card {
  width: 33%;
  display: flex;
  align-items: center;
  padding-left: 10px;
  & a {
    color: white;
    text-decoration: none;
  }
}
