* {
  margin: 0;
  padding: 0;
}

.hero {
  background-image: url("../assets/img/hero.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
}

.hero_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  width: 1100px;
  padding-top: 100px;
  padding-left: 25px;
}

.hero_input {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 50px;
}

h1, h2 {
  color: #ffffff;
}

h1 {
  font-size: 50px;
  font-weight: bold;
}

h2 {
  font-weight: lighter;
  font-size: 22px;
}

.hero_label {
  color: #ffffff;
  font-size: 22px;
  padding-bottom: 10px;
}

.hero_infield {
  width: 75%;
  height: 40px;
  border: 1px solid white;
  font-size: 18px;
  background: #0D65D9;
  color: white;
}

.hero_submit {
  background: white;
  color: black;
  margin-right: 20px;
}

.hero_allprovider {
  border: 1px solid white;
  color: white;
}

.hero_belowsearch {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 300px;
  margin-top: 20px;
}
