<div class="hero">
<section class="hero_container">
  <div class="hero_input">
    <app-location-selector (newLocation)="getNewLocaton($event)"></app-location-selector>
    <div class="hero_belowsearch">
      <button mat-button (click)="goToResultsPage()" class="hero_submit">Results</button>
      <button mat-button (click)="goToResultsPage()" class="hero_allprovider">See all offers</button>
    </div>

  </div>

  <div class="hero_text">
    <h1>COVID Price Compare</h1>
    <h2>Covid Test one click away</h2>
  </div>
</section>
</div>
