@import 'src/assets/mixins';

$zero-margin : 0;

.our-number_container {
  background-color: #3f51b5;
  margin-top: 50px;
}

section {
  @include flexDisplay(row, center);
  justify-content: space-around;
  color: white;
  background: #4051B6;
  height: 200px;
  width: 1100px;
  margin: 0 auto;

  div {
    @include flexDisplay(column, left);

    h2 {
      margin: $zero-margin;
      font-size: 32px;
      font-weight: bold;
    }

    .number {
      font-size: 40px;
      font-weight: bold;
      color: orange;
    }

    p {
      margin: $zero-margin;
      font-size: 22px;
      font-weight: lighter;
      padding-top: 10px;
    }
  }
}

img {
  width: 100%;
}

