<div class="our-number_container">
<section>
  <div class="numbers-description">
    <h2>Our numbers</h2>
    <p>Profism. Punctual. Productivity.</p>
  </div>

  <div>
    <h2 class="number">{{providers.length}}</h2>
    <p>Providers</p>
  </div>

  <div>
    <h2 class="number">{{products.length}}</h2>
    <p>Products</p>
  </div>

</section>

</div>

<div class="map">
  <img src="assets/img/map.png" alt="">
</div>
