@import 'src/assets/colors';
@import 'src/assets/mixins';

.result-container {
  border: 1px solid #e3e3e3;
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #fdfdfd;
  @include flexDisplay(row, normal);
  min-height: 150px;
  width: 97%;

  &_name {
    @include flexDisplay(row, center)
  }

  &:hover {
    background-color: #f5f5f5;
  }
}

.result-container_details {
  width: 60%;
  padding: 10px 0 20px 20px;
}

.info-btn {
  margin-left: 5px;
}

.result_details {
  @include flexDisplay(row, normal)
}

hr {
  border: 1px solid #e3e3e3;
}

.result-container_price {
  @include flexDisplay(column, center);
  justify-content: center;
  width: 40%;
}

.result_type {
  padding-right: 50px;
  @include flexDisplay(column, normal)
}

.type {
  color: green;
  font-weight: bold;
}

#dot {
  width: 30px;
  height: 30px;
  background-color: black;
  border-radius: 50%;
  margin: 0 15px 0 0;
}

.result_provider-name {
  font-weight: bold;
  font-size: 18px;
  margin: 0;
}

.toggle-box {
  visibility: hidden;
  margin-right: 10px;
  margin-bottom: 15px;
}

.toggle-box_border {
  height: 1px;
  background: lightgrey;
}

mat-icon {
  color: green;
}

.result_price {
  font-size: 18px;
  font-weight: bold;
}

#name_info {
  margin-left: 10px;
  color: cadetblue;
}

.result_payment_type {
  @include flexDisplay(column, center);
}

a {
  text-decoration: none;
  margin: 0 5px 0 auto;
}


.toggle-button {
  cursor: pointer;
  border: none;
  @include flexDisplay(row, center);
  visibility: hidden;
  background: none;

  span {
    color: $primary-color;
  }

  mat-icon {
    color: $primary-color;
    margin-left: 15px;
  }
}

.result-container_header {
  @include flexDisplay(row, baseline)
}

#black_button {
  color: black;
}

.locations_container {
  margin-bottom: 40px;
}

.bottom_hr {
  width: 1095px;
  margin-top: 10px;
  background-color: #3f51b5;
  height: 1px;
  border: none;
}
