<mat-card class="result-container" [@toggleContainer]="isOpen ? 'open' : 'closed'"
          [@dropdownContainer]="isLocationsOpen ? 'open' : 'closed'">

  <div class="result-container_details">
    <div class="result-container_header">
      <div *ngIf="resultItem?.provider?.providerLogo?.length !== 0">
        <img id="dot" src="{{resultItem?.provider?.providerLogo}}">
      </div>
      <span class="result_provider-name" [innerHTML]="resultItem?.provider?.fullName"></span>


      <button (click)="toggle()" class="info-btn" mat-button>
        <mat-icon>info</mat-icon>
      </button>

      <a [routerLink]="['/providers', resultItem.provider['_id'], resultItem.provider.shortName]">
        <button class="toggle-button" [@toggleButton]="isOpen ? 'open' : 'closed'">
          <span>részletes adatlap</span>
          <mat-icon>arrow_right_alt</mat-icon>
        </button>
      </a>
    </div>

    <div class="toggle-box" [@toggleBox]="isOpen ? 'open' : 'closed'">
      <app-result-item-info [item]="resultItem"></app-result-item-info>
      <div class="toggle-box_border"></div>
    </div>


    <div class="result_details" [@toggleContainer]="isOpen ? 'open' : 'closed'">
      <div class="result_type">
        <span>típus:</span>
        <span class="type" [innerHTML]="resultItem?.type"></span>
      </div>

      <div class="result_payment_type">
        <span>fizetési módok:</span>
        <div class="result_payment_type_icons">
          <mat-icon>account_balance_wallet</mat-icon>
          <mat-icon>money</mat-icon>
        </div>
      </div>

    </div>
  </div>

  <hr>
  <div class="result-container_price">
    <span class="result_price">{{resultItem?.price}} Ft</span>
    <button mat-raised-button color="primary">Ajánlat megtekintése</button>

    <!--    <app-rating></app-rating>-->
  </div>

</mat-card>


<div class="locations_container">
  <button (click)="dropdown()" class="locations-btn" mat-button>
    <span>Helyszínek</span>
    <mat-icon id="black_button" [@dropdownArrow]="isLocationsOpen ? 'open' : 'closed'">keyboard_arrow_down</mat-icon>
  </button>

  <div class="dropdown-locations" [@dropdownLocations]="isLocationsOpen ? 'open' : 'closed'">
    <app-locations-list [locations]="resultItem.provider.serviceLocations"></app-locations-list>
  </div>
  <hr class="bottom_hr">
</div>

