.provider_item_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  border: 1px solid #e3e3e3;
  margin-top: 20px;
  padding: 20px;

  &:hover {
    background-color: #fdfdfd;
  }
}

.provider_item_main {
  display: flex;
  align-items: center;
  width: 50px;
}

.provider_logo {
  background-color: black;
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.provider_item_locations {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.provider_item_products {
  display: flex;
  align-items: center;
}

p {
  margin: 0;
  padding: 0;
}
