<div routerLink="/providers/{{provider._id}}/{{provider.shortName}}" class="provider_item_container">

  <div class="provider_item_main">
    <img class="provider_logo" [src]="provider?.providerLogo" alt="logo">
    <span class="result_provider-name">{{provider?.shortName}}</span>
  </div>

  <div class="provider_item_locations">
    <mat-icon>room</mat-icon>
    <span class="provider_item_location">{{provider?.address?.city}}</span>
  </div>

  <div class="provider_item_products">
    <span class="provider_item_products_num">{{productsLength}} Termék</span>
  </div>

</div>
