<div class="provider_list_container">

  <div class="provider_list_sorting">
    <app-provider-sorting></app-provider-sorting>
  </div>

  <div class="provider-list">
    <app-providers-list [providers]="providers"></app-providers-list>
  </div>

</div>
