.provider_list_container {
  width: 1100px;
  margin: 0 auto;
  padding-top: 20px;
}

.provider-list {
  display: flex;
  flex-direction: column;
  border: 1px solid #e3e3e3;
  width: 1100px;
  margin: 0 auto;
  min-height: 90vh;
}

.provider-details {
  display: flex;
  border: 1px solid #e3e3e3;
  justify-content: center;
  width: 750px;
  margin: 0 auto;
  min-height: 90vh;
  background-color: #3f51b5;
}
