<header>
  <div class="header_container">
  <mat-toolbar color="primary">
    <a routerLink="" routerLinkActive="active">
      <img class="logo" src="assets/img/logo.png" alt="covid360">
    </a>
    <span class="spacer"></span>
    <a routerLink="providers" routerLinkActive="active"> Providers </a>
    <ng-content></ng-content>
  </mat-toolbar>
  </div>
</header>

