header {
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 2;
  background-color: #3f51b5;
  border-bottom: 1px solid #5066ee;
}

.header_container {
  width: 1100px;
  margin: 0 auto;
}

.spacer {
  flex: 1 1 auto;
}

a {
  text-decoration: none;
  color: white;
}

mat-toolbar {
  align-items: center;
  padding: 0;
}

.logo {
  width: 170px;
  margin-top: 10px;
}
