/* You can add global styles to this file, and also import other style files */

@import url("assets/reset.css");
@import '~ngx-sharebuttons/themes/default/default-theme';

html, body { height: 100%; padding-top: 32px; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif}

@import "~@angular/material/theming";

@include mat-core();
$angular-primary: mat-palette($mat-indigo, 500, 100, 900);
$angular-accent: mat-palette($mat-pink, A200, A100, A400);
$angular-warn: mat-palette($mat-red);

$angular-default-theme: mat-light-theme(
    (
      color: (
        primary: $angular-primary,
        accent: $angular-accent,
        warn: $angular-warn,
      ),
    )
);

@include angular-material-theme($angular-default-theme);


$angular-dark-theme: mat-dark-theme(
    (
      color: (
        primary: $angular-primary,
        accent: $angular-accent,
        warn: $angular-warn,
      ),
    )
);
.darkMode {
  @include angular-material-color($angular-dark-theme);
}
